@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/uK_y4riEZv4o1w9hDRcX.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/uK_x4riEZv4o1w9ptjIHPd-c.ttf) format('truetype');
}

/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */